@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #010F25;
    height: 100vh;
}

.form-input-div>label {
    color: #E9FFF8;
}


.form-input-div>input[type='date'] {
    text-transform: uppercase !important;
}

.form-input-div>textarea {
    background-color: #031735;
    color: #ffffff;
}


.form-input-div>input,
.form-input-div>select {
    height: 56px;
    border-radius: 6px;
    text-transform: capitalize;
    background-color: #031735;
    color: #ffffff;
}

button {
    background-color: #24FEB7;
    height: 50.0;
    border-radius: 12.0;
    color: #010F25;
    font-size: 16.0;
    font-weight: 600;
}

.warning-div {
    border: 1px solid #FFCE0E;
}

.preview-img {
    height: 280px;
    background-color: #031735;
    border: 1.0px solid #24FEB7;
}

.preview-img>label {
    display: block;
    height: 100%;
    width: 100%;
}

.preview-img>label>img,
.liveness-check>img {
    height: 100%;
    width: 100%;
}

.liveness-check {
    height: 264px;
    border-radius: 8px;
    background-color: #031735;
    border: 2px solid #24FEB7;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.liveness-check>video {
    border-radius: 8px;
    height: 100% !important;
    min-width: 100%;
}

.go-back {
    height: 40.0px;
    width: max-content;
    border-radius: 25px;
    background-color: #24FEB7;

}

.go-back>svg {
    width: 25px;
}

.go-back>span {
    color: #031735;
    font-weight: 500;
    font-size: 12.0px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* display: inline-block; */
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #24FEB7 #24FEB7;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

div#success {
    border: 1.0px solid rgba(36, 254, 183, 0.15);
    border-radius: 8px;;
}

div#success span {
    font-weight: 400;
    font-size: 12.0px;
}

#goBackBtn > button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-weight: 400;
}

.success-icon {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: block;
    background-color: rgba(36, 254, 183);
    background-image: url("../assets/clock.png");
    background-size: cover;
}